apiVersion: batch/v1
kind: Job
metadata:
  name: {{.Name}}-{{.RunID}}
  labels:
    app: openbench
    run-id: {{.RunID}}
spec:
  parallelism: {{.Nodes}}
  completions: {{.Nodes}}
  completionMode: Indexed
  backoffLimit: 0
  template:
    spec:
      restartPolicy: Never
      activeDeadlineSeconds: {{.TimeoutSeconds}}
      containers:
        - name: test
          image: {{.Image}}
          command: ["/bin/sh", "-c", {{.Command | jsonQuote}}]
          env:
{{- range .Env }}
            - name: {{ .Name }}
              value: {{ .Value }}
{{- end }}
